<!DOCTYPE html>
<html>
<head>
  <title>StreamingSort</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

  <h2> Visualization: </h2>
  <ul id="visualization">
  </ul>

  <div class="bargraph" style="width: 80%;">
    <ul id="sort_graph" class="bars">
    </ul>
  </div>
</body>
</html>
